[build]
  command = """
    rm -rf flutter && \
    git clone https://github.com/flutter/flutter.git && \
    ./flutter/bin/flutter config --enable-web && \
    ./flutter/bin/flutter pub get && \
    ./flutter/bin/flutter build web --release \
      --web-renderer-canvaskit \
      --pwa-strategy-offline-first \
      --dart-define=SUPABASE_URL=${SUPABASE_URL} \
      --dart-define=SUPABASE_ANON_KEY=${SUPABASE_ANON_KEY} \
      --dart-define=GOOGLE_SIGN_IN_WEB_CLIENT_ID=${GOOGLE_SIGN_IN_WEB_CLIENT_ID} \
      --dart-define=GOOGLE_FORM=${GOOGLE_FORM}
  """
  publish = "build/web"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for="/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"
    Content-Encoding = "gzip, br"

[[headers]]
    for="/index.html"
    [headers.values]
      Cache-Control = "public, max-age=0, must-revalidate"

[[headers]]
  for ="/**/*.{js, wasm, woff2, svg, png, jpg, jpeg, gif, webp, ico, css, ttf, otf, json, xml, html, txt}"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"
    
