<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKP2lWnopUn3g0D9T_L48Wzf-0iPSpeIs</string>
	<key>GCM_SENDER_ID</key>
	<string>367777430992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jewelryNafisa</string>
	<key>PROJECT_ID</key>
	<string>dagina-designs</string>
	<key>STORAGE_BUCKET</key>
	<string>dagina-designs.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367777430992:ios:9969ce824bea59d7468dd5</string>
</dict>
</plist>